* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #4b4a4a;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto', sans-serif;

    background-image: url("https://images.unsplash.com/photo-1579532648866-611dbe281eeb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHBpbmslMjByb3Nlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1 {
    font-weight: bold;
    color: rgb(248, 234, 103);
    writing-mode: vertical-rl;
    text-orientation: upright;
}
h2 {
    font-weight: bold;
}

.share-btn {
    list-style-type: none;
    font-size: 20px;
    color: green;
    background-color: rgba(250, 250, 150, 0.895);
    font-weight: bold;
    text-decoration: none;
    border-radius: 6px;
}
.share-btn {
    transition: transform 1s ease-in-out;
}
.share-btn:hover {
    font-size: 25px;
    font-weight: bold;
    color: green;
}
a i {
    list-style-type: none;
    font-size: 35px;
    color: rgb(255, 187, 0);
}

i {
    transition: transform 1s ease-in-out;
}
i:hover {
    transform: rotate(360deg);
    font-size: 40px;
    color: green;
}

/* HEADER */
/* -------------------------------------------------- */
header, section {
    padding-top: 20px;
}
.logo-container {
    width: 35%;
}
.logo {
    width: 55%;
    border-radius: 12px;
}
.MENU {
    width: 65%;
}
.menu {
    width: 40%;
}
.MENU > div:nth-child(1) {
    background-color: #e7c6b55f;
    line-height: 100%;
}
.MENU > div:nth-child(2) {
    background-color: #9492925f;
    line-height: 100%;
}
.MENU > div:nth-child(3) {
    background-color: #e7c6b55f;
    line-height: 100%;
}

/* .print-button {
	display: none;
} */

.back {
    padding: 10px;
    text-decoration: none;
    color: rgb(83, 85, 83);
    font-size: 18px;
    font-size: 18px;
}
.back:hover {
    font-size: 22px;
    color: #4b4a4a;
    font-weight: bold;
    transition: transform 2s ease-in-out;
    text-decoration: underline;
}


/* MAIN */
/* -------------------------------------------------- */
.bloc {
    background-color: rgb(200,200,200);
    width: 46%;
    margin: 2%;
}
.social {
    background-image: url("https://images.unsplash.com/photo-1622549037543-49cf1ca0babc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fHNvY2lhbCUyMG1lZGlhfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index:10;
    opacity:0.8;

}


.attribution {
    color: white;
}
.attribution a {
    color: yellow;
}
.attribution a:hover {
    color: orange;
    font-weight: bold;
    font-size: 18px;
}



/* FOOTER */
/* -------------------------------------------------- */
footer {
    background-color: rgba(255, 255, 255, 0.442);
}
.footer-container {
    width: 90%;
}
.footer1 {
    height: 80px;
    background-color: #e7c6b55f;
    line-height: 100%;
    border-radius: 12px;
}
.footer2 {
    height: 80px;
    background-color: #9492925f;
    line-height: 100%;
    border-radius: 12px;
}
