* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(100,100,100);
    color: #4b4a4a;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto', sans-serif;
}
h1, h2 {
    font-weight: bold;
}
.add {
    background-color: #f7ebe5;
    border-radius: 12px;
    width: 100%;
}


/* HEADER */
/* -------------------------------------------------- */
header {
    padding-top: 20px;
}
.logo-container {
    width: 30%;
}
.logo {
    width: 60%;
    border-radius: 12px;
}
#menu {
    width: 75%;
}
.menu {
    width: 50%;
}
#menu > div:nth-child(1) {
    background-color: #32CD32;
    height: 50%;
}
.back {
    padding: 10px;
    text-decoration: none;
    color: rgb(2, 115, 2);
    font-size: 18px;
}
.back:hover {
    font-size: 22px;
    color: #4b4a4a;
    transition: transform 1s ease-in-out;
    text-decoration: underline;
    font-weight: bold;
}


/* MAIN */
/* -------------------------------------------------- */
.bloc {
    background-color: #9cc289;
    width: 80%;
    margin: 2%;
}
.iframe {
    width: 77%;
}
iframe {
    width: 100%;
}


/* Attribution */
/* -------------------------------------------------- */
.attribution {
    font-size: 14px;
    color: white;
}
.attribution a {
    color: #32CD32;
    text-decoration: none;
    font-weight: bold;
}
.attribution a:hover {
    text-decoration: underline;
    font-size: 18px;
}


/* FOOTER */
/* -------------------------------------------------- */
footer {
    background-color: #228B22;
}
.footer-container {
    width: 90%;
}
.footer1 {
    height: 80px;
    background-color: #32CD32;
    line-height: 100%;
    border-radius: 12px;
}
.footer2 {
    height: 80px;
    background-color: #9ACD32;
    line-height: 100%;
    border-radius: 12px;
}