* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(100,100,100);
    color: #4b4a4a;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-weight: bold;
}


/* HEADER */
/* -------------------------------------------------- */
header {
    padding-top: 20px;
}
.logo-container {
    width: 30%;
}
.logo {
    width: 50%;
    border-radius: 12px;
}
#menu {
    width: 75%;
}
.menu {
    width: 25%;
}
#menu > div:nth-child(1) {
    background-color: #32CD32;
    height: 50%;
}
.back {
    padding: 10px;
    text-decoration: none;
    color: rgb(2, 115, 2);
    font-size: 18px;
}
.back:hover {
    font-size: 22px;
    color: #4b4a4a;
    font-weight: bold;
}


/* MAIN */
/* -------------------------------------------------- */
.bloc {
    background-color: rgb(200,200,200);
    width: 46%;
    margin: 2%;
}
.iframe {
    width: 77%;
}
iframe {
    width: 100%;
}


/* FOOTER */
/* -------------------------------------------------- */
footer {
    background-color: #228B22;
}
.footer-container {
    width: 80%;
}
.footer1 {
    height: 80px;
    width: 20%;
    background-color: #32CD32;
}
.footer2 {
    height: 80px;
    width: 20%;
    background-color: #9ACD32;
}